NEXT_PUBLIC_SUPABASE_URL=https://pqxaarmgamxdkwphkltg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBxeGFhcm1nYW14ZGt3cGhrbHRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDg2OTgxNDksImV4cCI6MjAyNDI3NDE0OX0.aDnsB-6l-wyFCHPrkPMDaJUbIXE2vw1h1tkx4eA4Lz4